<main style="margin-top: 58px">
    <div class="container pt-4">
  
  
      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center"> 
              <strong>Monitor Memoria Ram</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>

                    <th scope="col">Total de Memoria Ram</th>
                    <th scope="col">Memoria Disponible</th>
                    <th scope="col">% Consumo de Ram (Mb)</th>
                    <th scope="col">Memoria Consumida</th>
                    

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ram}}</td>
                    <td>{{ram_free}}</td>
                    <td>{{ram_percent}}</td>
                    <td>{{ram_usage}}</td>



                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
  
    </div>
  </main>
