 
<main style="margin-top: 58px">
    <div class="container pt-4">
<h1 class="heading text-center"><strong>Administracion de Procesos </strong></h1>
 
 
<table class='table'>
  <thead>
    <tr>
      <th>Procesos en Ejecucion</th>
      <th>Procesos Suspendidos</th>
      <th>Procesos Detenidos</th>
      <th>Procesos Zombie</th>
      <th>Total de Procesos</th>
    </tr>
  </thead>
  <tbody>

    <tr>

   
      <td>{{0}}</td>
      <td>{{0}}</td>
      <td>{{0}}</td>
      <td>{{0}}</td>
      <td>{{Process_Total}}</td>
    </tr>

  </tbody>
</table> 
</div>
</main>
 
<main style="margin-top: 58px">
    <div class="container pt-4">
  
  
      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center"> 
              <strong>Informacion General de los Procesos</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>PID</th>
                    <th>Name</th>
                    <th>STATE</th>
                    <th>RAM</th>
                    <th>User</th>
                    <th>Hijos</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repo of process;">
                        <td>{{repo.pid}}</td>
                        <td>{{repo.nombre}}</td>
                        <td>{{repo.estado}}</td>
                        <td>{{repo.ram}}</td>
                        <td>{{repo.usuario}}</td>
                        <td>
                          <tr>
                            <td>PID</td>
                            <td>Name</td>
                            <td>STATE</td>
                            <td>RAM</td>
                            <td>User</td>
                            <td>Hijos</td>
                          </tr>
                            <tr *ngFor="let x of repo.hijos">
                              <td>{{x.pid}}</td>
                              <td>{{x.nombre}}</td>
                              <td>{{x.estado}}</td>
                              <td>{{x.ram}}</td>
                              <td>{{x.usuario}}</td>
                            </tr>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>